html,
body {
  height: 100%;
  width: 100%;
}

[dir="rtl"] select {
  background-position: left 0.5rem center;
  padding-left: 2.5rem;
  padding-right: 0.75rem;
}

.react-grid-placeholder {
  background-color: #fab57f !important;
}

.react-grid-item > .react-resizable-handle:after {
  display: none !important;
}

.react-resizable-handle {
  background-image: none !important;
}
