# Node dependencies
node_modules
npm-debug.log
yarn-error.log
package-lock.json

# Build folders
.cache
.netlify
public/build
build

# Local files
.env
.eslintrc.js
export.sql
netlify.toml
prettier.config.js
Dockerfile
docker-compose.yml

# System files
history.txt

# Other files
colors-suggestion.txt
database.db
backup
migrations/.migrations
conf
